*{
    margin: 0%;
}
body {
    background-color:black;
}

h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

p {
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#title {
    text-align: center;
}
#subtitle {
    text-align: center;
}

#skins-pacman {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-style: groove;
    border-color: gray;
}

#skins-mspacman {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-style: groove;
    border-color: gray;
}

#skins {
    text-align: center;
    margin-top: 5%;
}

#button-block {
    text-align: center;
    margin-top: 2.5%;
}



#general-title{
    margin-top: 5%;
}
.button {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border-style: groove;
    border-color: gray;
    border-radius: 6px;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 1% 0 0.7% 0;
    user-select: none;
}
.zoom {
    transition: transform .2s; 
}
  
.zoom:hover {
    transform: scale(1.02); 
    background-color: #ffffff3b;
}