*{
    margin: 0;
}

#topbar {
    height: 30px;
    background-color: #3C3C3C;
    -webkit-app-region: drag
}

#title {
    float: left;
    color: #BABABA;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topbar_buttons {
    float: right;
    height: inherit;
}

body {
    background-color:black;
}

#menu-inicio {
    text-align: center;
    margin: auto;
    clear: both;
}

#logo {
    text-align: center;
    width:50%;
}

h3 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 25px;
}

#options {
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

.button {
    color: white;
    font-family: 'Press Start 2P', cursive;
    border-style: groove;
    border-color: gray;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px 0 10px 0;
}