*{
    margin: 0;
    list-style: none;
    text-decoration: none;
  
}
body {
    background-color:black;
}
#topbar {
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: #3f3f3f;
}

#name {
    color: #BABABA;
    width: 100%;
    -webkit-app-region: drag;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topbar_buttons {
    float: right;
    height: inherit;
    border: none;
    
    width: 40px;
   
}
 #minimize{
    background-image: url(img/minimizar.png);
    background-repeat: no-repeat;
   
   
}
 #maximize{
    background-image: url(img/maximizar.png);
    background-repeat: no-repeat;
    
}
 #close{
    background-image: url(img/cerrar.png);
    background-repeat: no-repeat;
   
    
}
h1 {
   margin-top: 10%;
   color: white;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
}
h2{
   margin-top: 5%;
   color: white;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
}
p{
    margin: 5%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
#button{
    margin-top: 5%;
    border-radius: 5%;
}
#yes{
    margin-right: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
   
}
#no{
    margin-left: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}