*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
body {
    background-color:black;
}
h1 {
   margin-top: 10%;
}
h2{
   margin-top: 5%;
}
p{
    margin: 5%;
}
#button{
    margin-top: 5%;
    border-radius: 5%;
}
#yes{
    margin-right: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
   
}
#no{
    margin-left: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    
}