*{
    margin: 0;
    list-style: none;
    text-decoration: none;
  
}
body {
    background-color:black;
}

#title{
   margin-top: 10%;
   color: white;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
}
#user{
   margin-top: 5%;
   color: white;
   font-family: 'Press Start 2P', cursive;
   text-align: center;
}
#score{
    margin-bottom: 10%;
}
#addname{
    margin-top: 5%;
}
#button{
    margin-top: 5%;
    border-radius: 5%;
    text-align: center;
}
#yes{
    margin-right: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-color: gray;
}
#no{
    margin-left: 2%;
    padding: 1%;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-color: gray;
    
}