*{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #8E6343;
}

html { 
    scroll-behavior: smooth; 
}

#wraper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
}

body{
    margin: 3px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

header{
    grid-area: header;
    min-height: 239px;
    width: 100%;
    color: white;
    text-align: center;
    background-image: url('img/46-Teatro_Donizetti.jpg');
	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

h1{
    text-align:center; /* h1 será un título, para que este centrado */
	color: white;
	position:relative; /* Para que tome el top y así forzarla para abajo */
	top:10px;
	background-color: transparent; /* Para que se vea solo el texto sobre la imagen */
}

nav{
    grid-area: nav;
    background-color: blanchedalmond;
}

.menu_superior{    
    float: left;
    width: 33.33%;
    min-height:40px;
    text-align: center;
    text-decoration: none;
    color:white;
	background-color:#5E1617;
	line-height:40px; /* Para central VERTICALMENTE el texto */
    display: block;
    
}

.menu_superior a{    
    text-decoration: none;
    color:white;
    background-color:#5E1617;
    display: block;
}

.menu_superior:hover{
    display: block;
}

section{
    /*grid-area: section;*/
    margin:0 auto 50px;
}


@keyframes cambio {

    0% { transform: translateX(0); }
	15% { transform: translateX(0); }

	20% { transform: translateX(-100%); }
	40% { transform: translateX(-100%); }

	45% { transform: translateX(-200%); }
	65% { transform: translateX(-200%); }

	70% { transform: translateX(-300%); }
	90% { transform: translateX(-300%); }

	95% { transform: translateX(-400%); }
	100% { transform: translateX(-400%); }
}

html {
    scroll-behavior: smooth;
}

.slider-container {
	max-width: 800px;
	margin: 30px auto 40px;
    background-color: #69462C;
    padding: 30px;
    box-shadow: 0px 0 30px rgb(42 44 57 / 26%);
    border-radius: 10px;
}

.slider {
	position: relative;
    background-color: #69462C;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
    transition-property: transform;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: cambio;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slider .menu{
    background-color: #69462C;
    text-align: center;
    margin: 20px;
}
  
.slider .menu li{
    display: inline-block;
    text-align: center;
    background-color: #69462C;
    padding: 0 2px 0 2px;
}
  
.slider .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
    box-shadow: 0px 0 30px rgb(42 44 57 / 26%);
}

.slider .menu li a:hover{
    background-color: #515151;    
}

.article-container {
	max-width: 1000px;
    height: 430px;
	margin: 20px 0 20px 0;
    padding: 30px;
}

article{
    float: left;
    position: relative;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    width:36%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #855C3E;
    padding: 2%;
    border-radius: 10px;
}

.titulo_articulo{
    background-color: #855C3E;
}

.titulo_articulo a{    
    text-decoration: none;
    color:#3D1210;
    background-color: #855C3E;
}

.titulo_articulo a:hover{
    color:#BDA087;   
}

article img{
	/*
		Las imagenes, por default, tienen el display=inline 
		esto hace que no tenga efecto el "margin:auto;"
		por eso hay que cambiarla a "display:block;"
	*/
	display:block;
	margin: auto;
    height:200px;
	padding:20px;
    background-color: #855C3E;
}

article p{ 
	text-align: justify; /* Texto justificado */
	padding-left:5px;
    background-color: #855C3E;
}

footer{
    clear:both;
    grid-area: footer;
    background-color: #3D1210;
}

.menu_footer{
    float: left;
    width: 33.33%;
    min-height:80px;
    text-align: center;
	color:white;
	background-color:#3D1210;
	line-height:65px;  /*Para central VERTICALMENTE el texto */
    margin: auto;
}

.menu_footer a{
    background-color:#3D1210;
    text-decoration: none;
    color: white;
    padding: 0 20px 0 20px;
    text-align: center;
    word-break: break-all;
    display: inline-block;
}

.copyright span{
    background-color:#3D1210;
}

.contactenos a:hover, .index a:hover, .menu_superior a:hover{
    color: #8A4A3E;
}

@media only screen and (max-width:720px){

    #wraper{
        display: grid;        
        grid-template-areas: 
        "header"
        "nav"
        "slider-container"
        "articulo1"
        "articulo2"
        "footer";        
    }
    header{
        grid-area: header;
        width:100%;
    }
    #menu_superior{
        grid-area:nav;
        width:100%;
        display: block;
        position: absolute;
    }
    .menu_superior{
        position: relative;
    }
    .slider-container{
        grid-area: slider-container;
        display: flex;
    }
    article{
        clear:both;
        margin:auto;
        width: 100%;
    }
    #articulo1{
        grid-area: articulo1;            
    }
    #articulo2{
        grid-area: articulo2;
        margin-top: 50px;
    }
    footer{
        grid-area: footer;
        clear: both;
        display: block;
    }
}