*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
   
}
html,body .Login {
    background-image: url(../public/img/login-background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.Login .container{
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;

}
.Login #login{
    background-color: rgba(0, 0, 0, 0.868);
    border: rgba(255, 255, 255, 0.626) 2px solid;
    letter-spacing: 2px;
    font-size: large;
    border-radius: 10px;
    position: relative;
    min-width:35%;
    text-align: center;
    padding: 30px 30px;
    border-radius: 20px;
}
.Login .login-text{
    font-family: 'Press Start 2P', cursive;
    font-size:3vw;
    width: 16vw;
    background:linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0),rgb(0, 234, 255),rgb(255, 0, 187)) ;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 10%;
    margin-bottom: 10%;
    margin: auto;
    user-select: none;
}
.Login ::placeholder { 
    color: rgb(165, 165, 165);
    opacity: 1; 
    user-select: none;
}
.Login .form{
    display:flex;
    flex-direction: column;
   
}
.Login input{
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    float: left;
    font-size: 1.2em;
    width: 16vw;
    height: 1.5em;
    animation-iteration-count: 1;
    animation: ease-in-out;
    margin-top: 10%;  
    font-family: 'Roboto', sans-serif;
    clear: both;
}

.Login .eye{
    position: absolute;
    right: 1vw;
    bottom: 0.2vw;
    z-index: 10;
    width: 2em;
    height: 1em;
}
.Login .closed{
    background-image: url(../public/img/eyeclosed.png);
    background-repeat: no-repeat;
    background-size:1.5em;    
    color: transparent;
    background-color: transparent;
    border:none;
}
.Login .open{
    background-image: url(../public/img/eyeopen.png);
    background-repeat: no-repeat;
    background-size:1.5em;    
    color: transparent;
    background-color: transparent;
    border:none;
}


.Login #passwordHolder{
position: relative;
}

.Login input:focus {
    outline: none;
    border-bottom: 2px solid pink ;
    animation: border 1s;
    animation-iteration-count: 1;
    width: 97%;

}

@keyframes border {
    0%   {width: 25%;}
    100% {width: 97%;}
}

.Login .button {
    color: white;
    font-family: 'Press Start 2P', cursive;
    border-style: groove;
    border-color: gray;
    border-radius: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    padding: 1% 1% 0.7% 1%;
    user-select: none;
    background-color: transparent;
}
.Login .account{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 10%;
    user-select: none;
}

.Login .zoom {
    transition: transform .2s; 
}
  
.Login .zoom:hover {
    transform: scale(1.02); 
    background-color: #ffffff3b;
}