#mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    align-items: center;
}

.tile{
    width: 20px;
    height: 20px;
    background-image: url("./tileSet.png");
    background-size: 760px, 20px;
}

.row{
    display: flex;
}

.object{
    width: 20px;
    height: 20px;
    background-image: url("./tilesObjects.png");
    background-size: 140px, 20px;
}

.ghost{
    width: 20px;
    height: 20px;
    background-image: url("./tileGhosts.png");
    background-size: 320px, 20px;
}

.pacman{
    width: 20px;
    height: 20px;
    background-image: url("./tilesPacman.png");
    background-size: 160px, 20px;
    position: absolute;
}